# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://binnegtveflxpdlabhft.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpbm5lZ3R2ZWZseHBkbGFiaGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMTQ3MTMsImV4cCI6MjA5Mjg5MDcxM30.s7qJHNRSFemLrVij6Ir7gxkwsT6ooSnWAoCJfEZM_5w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpbm5lZ3R2ZWZseHBkbGFiaGZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzMxNDcxMywiZXhwIjoyMDkyODkwNzEzfQ.yJt6KmNG4ORLJH9dLq6gSOUhVDa4EITsFzL6PqFw-U4

# App
NEXT_PUBLIC_ROOT_DOMAIN=arquiteturaorganizada.com.br
NEXT_PUBLIC_SITE_URL=https://arquiteturaorganizada.com.br

# Vercel (custom domains)
VERCEL_TOKEN=
VERCEL_PROJECT_ID=

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-3011463071451427-050613-20520fff12afc7d7073a842fb87a1099-1736974630

MP_PUBLIC_KEY=APP_USR-1f1f57a5-b713-45d8-8b6c-0fb46800a9e7

MP_WEBHOOK_SECRET=93de2828603b71527a4aaa61632e23f8f59a9ecc9ff250d276ed6df19afacf61


# Email
GMAIL_USER=bruno.moura.code@gmail.com
GMAIL_APP_PASSWORD=

# Cron
CRON_SECRET=reset-sass2026

# Superadmin (emails autorizados para /admin)
SUPERADMIN_EMAILS=bruno.moura.code@gmail.com
